@model EditViewModel

<h3>Edit User</h3>
<hr />
<form asp-controller="Users" asp-action="Edit" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="FullName">FullName</label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
        Kaydet
    </button>
</form>
